@import url("https://dev.layouthub.com/storage/libraries/Swiper/swiper-bundle.min.css?vendor_id=css_swiper_slider");@import url("https://dev.layouthub.com/storage/libraries/layouthub.css?vendor_id=css_layouthub_base");@import url("https://dev.layouthub.com/storage/libraries/LineIcons/LineIcons.css?vendor_id=css_line_icon");




text[data-lhi] {display: inline-block;}[data-lhi]:not(img):empty,img[src=""]{display: none;}[data-layouthub="section"] [data-lhi] pre{padding-left: 1rem;border-left: 3px solid var(--lh-color);}[data-layouthub="section"] [data-lh-live-editor] ol {padding-left: revert !important;list-style-type: decimal !important;} [data-layouthub="section"] [data-lh-live-editor] ul{padding-left: revert !important;list-style-type: disc !important;}[data-layouthub="section"] [data-lh-live-editor] li {list-style: inherit !important;} 
section[data-section-id="dguYif9xP1"] .lh-title{
font-weight: bold;
font-size: calc(var(--lh-font-size) * 4);
line-height: 1.25;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-bottom: 24px;
}
section[data-section-id="dguYif9xP1"] .lh-desc{
font-size: calc(var(--lh-font-size) * 1.5);
line-height: 1.35;
color: #fff;
margin-bottom: 40px;
}
section[data-section-id="dguYif9xP1"] .lh-btn{
    position: relative;
    margin-bottom: 16px;
}

section[data-section-id="dguYif9xP1"] .lh-btn a{
    text-align: center;
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    padding: 12px 38px;
    color: #1A1A1A;
    display: block;
    background: #FFBE9E;
    cursor: pointer !important;
    
}
section[data-section-id="dguYif9xP1"] .lh-btn a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -4px;
    left:-4px;
   background: transparent;
   border: 1px solid #1a1a1a;
}
section[data-section-id="dguYif9xP1"] .lh-img{
    text-align: center;
}
@media screen and (max-width: 991px){

    section[data-section-id="dguYif9xP1"] .lh-col-md-5{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
   section[data-section-id="dguYif9xP1"] .lh-col-md-7{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
   }
section[data-section-id="dguYif9xP1"] .lh-title{
    font-size: calc(var(--lh-font-size) * 3);
    margin-bottom: 16px;
}
section[data-section-id="dguYif9xP1"] .lh-desc{
    font-size: calc(var(--lh-font-size) * 1);
    margin-bottom: 32px;
}
}
@media screen and (max-width:767px){

    section[data-section-id="dguYif9xP1"] .lh-col-md-5{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

section[data-section-id="dguYif9xP1"] .lh-btn a{
    display: block;
}
}
section[data-section-id="dguYif9xP1"]{padding-top: 142px;padding-bottom: 142px;background: #fff url(https://library.layouthub.com/HUB/files/TWFyLS0yMDIx/NjE1Mjc3MDI3/release-3-2021/pages/3vHZueVkrYbAWIpz/call_to_action/assets/images/sofi_call_to_action.png) center center/cover no-repeat scroll}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="dguYif9xP1"]{padding-top: 60px;padding-bottom: 60px;}}@media screen and (max-width: 767px) {section[data-section-id="dguYif9xP1"]{padding-top: 582px;padding-bottom: 40px;background: #fff url(https://library.layouthub.com/HUB/files/TWFyLS0yMDIx/NjE1Mjc3MDI3/release-3-2021/pages/3vHZueVkrYbAWIpz/call_to_action/assets/images/sofi3-mobi.png) center center/cover no-repeat scroll}} 
section[data-section-id="Cr5g63AHYh"] .lh-title{
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 2.5);
    margin-bottom: 40px;
    line-height: 1.3;
    color: #1a1a1a;
}
section[data-section-id="Cr5g63AHYh"] .lh-item{
    border: 1px solid #CFCFCF;
    padding: 40px;
    margin-bottom: 24px;
}
section[data-section-id="Cr5g63AHYh"] .lh-item:last-child{
	margin-bottom: 0px;
}
section[data-section-id="Cr5g63AHYh"] .lh-item.active{
	background: var(--lh-color);
}
section[data-section-id="Cr5g63AHYh"] .lh-item-title{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

section[data-section-id="Cr5g63AHYh"] .lh-item-title .lh-t{
    font-size: calc(var(--lh-font-size) * 1.125);
    font-weight: normal;
    line-height: 1.56;
    color: #1a1a1a;
}
section[data-section-id="Cr5g63AHYh"] .lh-item-title .lh-arrow{
	font-size: calc(var(--lh-font-size) * 1);
	line-height: 1;
	color: #1a1a1a;
	float: right;
}
section[data-section-id="Cr5g63AHYh"] .lh-item.active .lh-item-title{
	margin-bottom: 12px
}
section[data-section-id="Cr5g63AHYh"] .lh-item.active .lh-item-title .lh-t, section[data-section-id="Cr5g63AHYh"] .lh-item.active .lh-item-title .lh-arrow{
	color: #fff;
}
section[data-section-id="Cr5g63AHYh"] .lh-item.active .lh-item-title .lh-arrow{
	transform: rotate(180deg)
}
section[data-section-id="Cr5g63AHYh"] .lh-item-content{
    font-size: calc(var(--lh-font-size) * 1);
    font-weight: normal;
    line-height: 1.5;
    color:  rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}

section[data-section-id="Cr5g63AHYh"] .lh-item:not(.active) .lh-item-content{
    height: 0px;
    transition: max-height 0.3s ease 0s;
    overflow: hidden;
}
@media screen and (max-width: 991px) {
section[data-section-id="Cr5g63AHYh"] .lh-item{
	padding: 24px;
}
section[data-section-id="Cr5g63AHYh"] .lh-item:last-child{
	margin-bottom: 24px
}
}
@media screen and (max-width: 767px) {
section[data-section-id="Cr5g63AHYh"] .lh-col-md-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section[data-section-id="Cr5g63AHYh"] .lh-title{
	font-size: calc(var(--lh-font-size) * 1.5);
	margin-bottom: 32px;
}
}
section[data-section-id="Cr5g63AHYh"]{padding-top: 80px;padding-bottom: 78px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="Cr5g63AHYh"]{padding-top: 60px;padding-bottom: 60px;}}@media screen and (max-width: 767px) {section[data-section-id="Cr5g63AHYh"]{padding-top: 40px;padding-bottom: 40px;}} 
section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram-wrapper{
	position: relative;
}
section[data-section-id="hvLVmzsWbd"] .item-center{
  font-size: calc(var(--lh-font-size) * 2.5);
  line-height: 1.3;
  font-weight: bold;
  color: #1a1a1a;
  text-align: center;
  border: 12px solid rgba(93, 139, 179, 0.2);
  background: #fff;
  height: calc(100% - 24px);
    justify-content: center;
    align-items: center;
    display: flex;
}
section[data-section-id="hvLVmzsWbd"] .lh-effect-ani1::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  z-index: 10;
}
section[data-section-id="hvLVmzsWbd"] .lh-effect-ani1:hover::before{
  opacity: 1;
}
section[data-section-id="hvLVmzsWbd"] .lh-effect-ani1::after{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  color: rgb(255, 255, 255);
  z-index: 11;
  width: 24px;
  height: 24px;
  content: url('https://library.layouthub.com/HUB/files/TWFyLS0yMDIx/NjE1Mjc3MDI3/release-3-2021/pages/3vHZueVkrYbAWIpz/instagram/assets/images/instagram.svg');

}
section[data-section-id="hvLVmzsWbd"] .lh-effect-ani1:hover::after{
  opacity: 1;
}
section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .lh-insta a{
	position: relative;
	display: block;
	padding-bottom: 100%;
	transition: all 0.35s;
	overflow: hidden;
}
section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .lh-insta .lh-wrap-user a{
  padding: 0%;
}

section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .items-slider{
	position: relative;
	overflow: hidden;
  margin-bottom: 24px;
}

section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .items-slider.lh-video:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid rgba(255,255,255,.8);
  border-bottom: 20px solid transparent;
	transform: translate(-50%,-50%);
}
section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .items-slider.lh-video:hover:after{
	display: none;
}
@media screen and (max-width: 991px){
	section[data-section-id="hvLVmzsWbd"] .lh-col-md-4{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
section[data-section-id="hvLVmzsWbd"] .item-center{
  font-size: calc(var(--lh-font-size) * 1.5);
}
}
@media screen and (max-width: 767px){}

@media screen and (max-width: 575px){
  section[data-section-id="hvLVmzsWbd"] .lh-col-md-4{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section[data-section-id="hvLVmzsWbd"] .lh-mb{
  margin-bottom: 24px;
}
section[data-section-id="hvLVmzsWbd"] .item-center{
  height: 100%;
}

section[data-section-id="hvLVmzsWbd"] .lh-wild_instagram .lh-insta .lh-wrap-user a{
    padding-bottom: 100%;
}
}
 
section[data-section-id="Jl410fW5IP"] .lh-testimonials-item{
	text-align: center;
	width: 80%;
	margin: 0px auto;
}
section[data-section-id="Jl410fW5IP"] .lh-avatar{
	margin-bottom: 24px;
	border-radius: 50%; 
	display: inline-block;
}
section[data-section-id="Jl410fW5IP"] .lh-avatar img{
	border-radius: 50%;
	object-fit: cover
}
section[data-section-id="Jl410fW5IP"] .lh-text-content{
	font-size: calc(var(--lh-font-size) * 1.125);
	line-height: 1.56;
	color: #1a1a1a;
	margin-bottom: 40px;
}
section[data-section-id="Jl410fW5IP"] .lh-name{
	font-size: calc(var(--lh-font-size) * 1.125);
	line-height: 1.35;
	color: #1a1a1a;
	font-weight: bold;
}

section[data-section-id="Jl410fW5IP"] .lh-pos{
	font-size: calc(var(--lh-font-size) * 1);
	line-height: 1.5;
	color: #5A5A5A;
	opacity: 0.6;
	font-weight: normal;
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content{
	position: relative;
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next:after, section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev:after{
	content: "";
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next, section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease 0s;    
    border-radius: 50%;
	font-size: calc(var(--lh-font-size) * 1.5);
	color: #1a1a1a;
	line-height: 1
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev{
	left: 0px;
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next{
	right: 0px;
}

section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next:hover, section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev:hover{
	color: var(--lh-color);
}

section[data-section-id="Jl410fW5IP"] .lh-testimonials-list .swiper-pagination{
	text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 40px;
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet{
	width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #1a1a1a;
    position: relative;
    transition: all 0.3s ease 0s;
    border-radius: 100%;
    margin: 0px 8px;
    opacity: 1
}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet-active{
	background: #1a1a1a;
}
section[data-section-id="Jl410fW5IP"] .lh-dots-no .swiper-pagination, section[data-section-id="Jl410fW5IP"] .lh-nav-no .swiper-button-next, section[data-section-id="Jl410fW5IP"] .lh-nav-no .swiper-button-prev{
	display: none;
}

@media (max-width: 991px) {

	section[data-section-id="Jl410fW5IP"] .lh-col-md-2{
		display: none;
	}
	section[data-section-id="Jl410fW5IP"] .lh-col-md-8{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
	section[data-section-id="Jl410fW5IP"] .lh-testimonials-item{
		width: 100%;
	}
	section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next, section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev{
		top: 60px;
	}
	section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev{
		left: -25px;
	}
	section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next{
		right: -25px;
	}
}
@media (max-width: 767px) {

	section[data-section-id="Jl410fW5IP"] .lh-col-md-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
 
section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-prev{
		left: -15px;
	}
	section[data-section-id="Jl410fW5IP"] .lh-testimonials-content .swiper-button-next{
		right: -15px;
	}
section[data-section-id="Jl410fW5IP"] .lh-testimonials-list .swiper-pagination .swiper-pagination-bullet{
	margin: 4px 8px;
}
}section[data-section-id="Jl410fW5IP"]{padding-top: 56px;padding-bottom: 80px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="Jl410fW5IP"]{padding-top: 60px;padding-bottom: 60px;}}@media screen and (max-width: 767px) {section[data-section-id="Jl410fW5IP"]{padding-top: 20px;padding-bottom: 40px;}} 
section[data-section-id="1GuabE39KI"] .lh-wrapper .lh-row{
  align-items: center;
}
section[data-section-id="1GuabE39KI"] .lh-content{
  width: 90%
}
section[data-section-id="1GuabE39KI"] .lh-title{
    position: relative;
    font-size: calc(var(--lh-font-size) * 2.5);
    margin-bottom: 30px;
    margin-top: -30px;
    line-height: 1.3;
    font-weight: bold;
    color: #1A1A1A;
}
section[data-section-id="1GuabE39KI"] .lh-desc{
  font-size: calc(var(--lh-font-size) * 1);
  line-height: 1.5;
  color: #5a5a5a;
}

section[data-section-id="1GuabE39KI"] .lh-item{
  margin-bottom: 30px;
}

@media screen and (max-width: 991px){

  section[data-section-id="1GuabE39KI"] .lh-list-img .lh-row{
        margin-right: -8px;
    margin-left: -8px;
  }
  section[data-section-id="1GuabE39KI"] .lh-content{
  width: 100%
}
	section[data-section-id="1GuabE39KI"] .lh-item{
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
  }

}
@media screen and (max-width:767px){
 
section[data-section-id="1GuabE39KI"] .lh-col-md-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

 section[data-section-id="1GuabE39KI"] .lh-title{
    font-size: calc(var(--lh-font-size) * 1.5);
    margin-bottom: 32px;
    margin-top: 0px;
    }
    section[data-section-id="1GuabE39KI"] .lh-desc{
      margin-bottom: 32px;
    }
}
section[data-section-id="1GuabE39KI"]{padding-top: 30px;background: #EFF3F7}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="1GuabE39KI"]{padding-top: 30px;padding-bottom: 16px;}}@media screen and (max-width: 767px) {section[data-section-id="1GuabE39KI"]{padding-top: 30px;padding-bottom: 16px;}} section[data-section-id="2D9lZCzOJo"] .lh-services{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
section[data-section-id="2D9lZCzOJo"] .lh-item{
	border: 0.5px solid #CFCFCF;
	width: 25%;
	padding:  86px 8px;
	text-align: center;
}
section[data-section-id="2D9lZCzOJo"] .lh-icon{
	font-size: calc(var(--lh-font-size) * 9.4);
	color: var(--lh-color);
	margin-bottom: 8px;

}
section[data-section-id="2D9lZCzOJo"] .lh-text1{
	font-size: calc(var(--lh-font-size) * 1.125);
	line-height: 1.56;
	color: #5a5a5a;
	font-weight: bold
}
@media screen and (max-width: 991px){
	
}
@media screen and (max-width: 767px){
	section[data-section-id="2D9lZCzOJo"] .lh-item{
	    width: 50%;
	    padding: 50px 8px;
	} 
	section[data-section-id="2D9lZCzOJo"] .lh-icon{
		padding: 0px 40px ;
		font-size: calc(var(--lh-font-size) * 4.2);
	}
}
 
section[data-section-id="sFtJALKapE"] .lh-logo{
	margin-bottom: 24px;
}
section[data-section-id="sFtJALKapE"] .lh-txt-logo a{
	font-weight: bold;
	font-size: calc(var(--lh-font-size) * 2.25);
	line-height: 1.45;
	letter-spacing: -0.02em;
	color: #000000;
	display: inline-block;
}
section[data-section-id="sFtJALKapE"] .lh-txt-logo a:hover{
	color: var(--lh-color)
}
section[data-section-id="sFtJALKapE"] .lh-desc{
	font-size: calc(var(--lh-font-size) * 1.125);
	line-height: 1.56;
	color: #5a5a5a;
	margin-bottom: 42px;
}
section[data-section-id="sFtJALKapE"] .lh-btn{
    position: relative;
    display: inline-block;
}
section[data-section-id="sFtJALKapE"] .lh-btn a{
    text-align: center;
    font-weight: bold;
    font-size: calc(var(--lh-font-size) * 1);
    line-height: 1.5;
    padding: 12px 60px;
    color: #1A1A1A;
    display: inline-block;
    background: none;
    cursor: pointer !important;
    background: #FFBE9E;
}
section[data-section-id="sFtJALKapE"] .lh-btn a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    border: 1px solid #1a1a1a;
   background: transparent;
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul{
	display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul li{
	padding:4px 0px 4px 40px;
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul li a{
	color: #1a1a1a;
	font-size: calc(var(--lh-font-size) * 1);
	cursor: pointer;
	line-height: 1.5;
	display: inline-block;
}
section[data-section-id="sFtJALKapE"] .lh-list-social{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 24px;
	margin-top: 5px
}
section[data-section-id="sFtJALKapE"] .lh-list-social p{
	padding:4px 0px 4px 24px;
}
section[data-section-id="sFtJALKapE"] .lh-footer .lh-txt{
	font-size: calc(var(--lh-font-size) * 0.875);
	color: #9a9a9a;
	line-height: 1.71;
	text-align: right
}
@media screen and (max-width: 991px){

	section[data-section-id="sFtJALKapE"] .lh-col-md-5, section[data-section-id="sFtJALKapE"] .lh-col-md-7{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section[data-section-id="sFtJALKapE"] .lh-desc{
	margin-bottom: 32px;
	font-size: calc(var(--lh-font-size) * 1);
}
section[data-section-id="sFtJALKapE"] .lh-btn{
	margin-bottom: 28px;
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul, section[data-section-id="sFtJALKapE"] .lh-list-social{
	justify-content: flex-start;
}
section[data-section-id="sFtJALKapE"] .lh-list-social, section[data-section-id="sFtJALKapE"] .lh-footer-menu ul{
	margin-bottom: 12px;
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul li, section[data-section-id="sFtJALKapE"] .lh-list-social p{
	padding: 4px 24px 4px 0px;
}
section[data-section-id="sFtJALKapE"] .lh-footer-menu ul li:last-child, section[data-section-id="sFtJALKapE"] .lh-list-social p:last-child{
	padding-right: 0px;
}
section[data-section-id="sFtJALKapE"] .lh-footer .lh-txt{
	text-align: left;
}
}
section[data-section-id="sFtJALKapE"]{padding-top: 80px;padding-bottom: 100px;background: #fff}@media screen and (max-width: 991px) and (min-width: 768px) {section[data-section-id="sFtJALKapE"]{padding-top: 60px;padding-bottom: 60px;}}@media screen and (max-width: 767px) {section[data-section-id="sFtJALKapE"]{padding-top: 60px;padding-bottom: 60px;}}